<footer>
    <section class="space"></section>
    <section class="menuFooter">
       <div>
            <h3 >PRODUCTOS</h3>
            <ul>
                <li><a href="#">Sustratos</a></li>
                <li><a href="#">Luces</a></li>
                <li><a href="#">Fertilizantes</a></li>
                <li><a href="#">Parafrenalia</a></li>
                <li><a href="#">Hidroponia</a></li>
                <li><a href="#">Picadores</a></li>
                <li><a href="#">Carpas</a></li>
                <li><a href="#">Frascos</a></li>
            </ul>
        </div>
        <div>
            <h3>APRENDE MAS</h3>
            <ul>
                <li><a href="#">Información Cannabica</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Descargar</a></li>
                <li><a href="#">Grows amigos oficiales</a></li>
                <li><a href="#">Accesibilidad</a></li>
            </ul>
        </div>
        <div>
            <h3>CONTACTO</h3>
            <ul>
                <li>Buenos Aires Insumos S.A.</li>
                <li>Cabildo 500, CABA, Buenos Aires.</li>
                <li><a href="tel:+5491142546934">Télefono: +54 911 42546934</a></li>
                <li><a href="mailto:info@thefutureisgreen.com">eMail: info@thefutureisgreen.com</a></li>
            </ul>
    </section>
    
</footer>
