<footer>
    <section class="menuFooter">
       <div>
            <h3>PRODUCTOS</h3>
            <ul>
                <li><a href="#">Sustratos</a></li>
                <li><a href="#">Luces</a></li>
                <li><a href="#">Fertilizantes</a></li>
                <li><a href="#">Parafrenalia</a></li>
                <li><a href="#">Hidroponia</a></li>
                <li><a href="#">Picadores</a></li>
                <li><a href="#">Carpas</a></li>
                <li><a href="#">Frascos</a></li>
            </ul>
        </div>
        <div>
            <h3>APRENDE MAS</h3>
            <ul>
                <li><a href="#">Información Cannabica</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Descargar</a></li>
                <li><a href="#">Grows amigos oficiales</a></li>
                <li><a href="#">Accesibilidad</a></li>
            </ul>
        </div>
        <div>
            <h3>SERVICIOS</h3>
            <ul>
                <li><a href="#">Diseño y adaptación de cultivos</a></li>
                <li><a href="#">Mantenimiento de cultivos</a></li>
                <li><a href="#">Armado de cultivo</a></li>
            </ul>
        </div>
        <div>
            <h3>ASESORIAS</h3>
            <ul>
                <li><a href="#">Cultivos Industriales</a></li>
                <li><a href="#">Legislación</a></li>
                <li><a href="#">Reprocann</a></li>
                <li><a href="#">Cultivos Domésticos</a></li>
                <li><a href="#">Inscripción Inase</a></li>
                <li><a href="#">Abrí tu ONG</a></li>
            </ul>
        </div>
        <div>
            <h3>CONTACTO</h3>
            <ul>
                <li><a href="#">Buenos Aires Insumos S.A.</a></li>
                <li><a href="#"></a>Cabildo 500, CABA, Buenos Aires.</li>
                <li><a href="#">Télefono: +54 911 42546934</a></li>
                <li><a href="#">eMail: info@thefutureisgreen.com</a></li>
            </ul>
        </div>
    </section>
    <div class="redesSociales">
        <h4>Seguinos</h4>
        <i class="fa-brands fa-instagram fa-2x"></i>
        <i class="fa-brands fa-tiktok fa-2x"></i>
        <i class="fa-brands fa-twitter fa-2x"></i>
    </div>
</footer>
