<header>
        <!-- <div class="searchBar">
        
            <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Buscar productos, servicios, más..">
        </div> -->
        <div class="headingLogo">
            <a href="/"><img src="img/logoGHboceto.png" alt="" class="logo"><a>
        </div>
       
        <nav class="nav-bar">
            <ul class="menuPrincipal">
                <li><a href="/products">PRODUCTOS</a></li> 
                <li><a href="">APRENDE MAS</a></li>       
                <li><a href="/service">SERVICIOS</a></li>
                <li><a href="contact">CONTACTO</a></li>
                <li> <a href="/user"><i class="fa-sharp fa-solid fa-user fa-2x"></i></a></li>
                <li><a href=""><i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i></a> </li>
            </ul>
        </nav>
        <div class="mobile-nav-bar">
            <i class="fa-sharp fa-solid fa-bars"></i>
            <a href="users"><i class="fa-sharp fa-solid fa-user fa-2x"></i></a>
            <a href=""><i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i></a>
        </div>
    
   
</header>

