<header>
    <div>
        <h4 id="promoHeader">20% de decuento en parafernalia</h4>
    </div>
    <div class="headingContainer">
        <div class="searchBar">
        <i class="fa-sharp fa-solid fa-bars burger-menu"></i>
            <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i><!--icono lupa--> 
            <input type="text" placeholder="Buscar productos, servicios, más..">
        </div>
        <div class="headingLogo">
            <!-- <h1>GROWSHOP</h1> reemplazar con logo  -->
            <a href="/"><img src="img/logoGHboceto.png" alt="" class="logo"><a>
        </div>
        <div class="iconosPrincipales">
            <a href="users"><button type="button">Ingresá<i class="fa-sharp fa-solid fa-user fa-2x"></i></button></a><!--icono usuario-->
            
            <a href="contact"><button type="button">Contactanos<i class="fa-sharp fa-solid fa-envelope fa-2x"></i></button></a><!--sobre de contacto-->
            <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i> <!--cansato de compras... no funciona. ver que pasa-->
        </div>
    </div>
    
    <nav class="nav-bar">
        <ul class="menuPrincipal">
            <li><a href="products">PRODUCTOS</a></li> 
            <li><a href="">APRENDE MAS</a></li>
            <li><a href="">SERVICIOS</a></li>
            <li><a href="">ASESORIAS</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>

    </nav>
   
</header>
