<header>
        <!-- <div class="searchBar">
        
            <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Buscar productos, servicios, más..">
        </div> -->
        <div class="headingLogo">
            <a href="/"><img src="img/logoGHboceto.png" alt="" class="logo"><a>
        </div>
       
        <nav class="nav-bar">
            <ul class="menuPrincipal">
                <li><a href="/products">PRODUCTOS</a></li>             
                <li> <a href="/user"><i class="fa-sharp fa-solid fa-user fa-2x"></i></a></li>
                <li><a href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i></a> </li>
            </ul>
        </nav>
        <div class="mobile-nav-bar">
            <a href="/products"><i class="fa-sharp fa-solid fa-bars"></i></a>
            <a href="/user"><i class="fa-sharp fa-solid fa-user fa-2x"></i></a>
            <a href="/carrito"><i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i></a>
        </div>
    
   
</header>

