<<<<<<< HEAD
<!DOCTYPE html>

=======
>>>>>>> 44e87328f97fea37e06e7161df705ef68c7dd2c0
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GROWSHOP</title>
  <link href="/css/style.css" rel="stylesheet"> 
  <link href="/css/indexStyle.css" rel="stylesheet">
  <link href="css/cartStyle.css" rel="stylesheet"> 
  <link href="/css/createProductsStyle.css" rel="stylesheet"> 
  <link href="/css/registerStyle.css" rel="stylesheet"> 
  <link href="/css/loginStyle.css" rel="stylesheet"> 
  <link href="/css/listProductStyle.css" rel="stylesheet"> 
  <link href="/css/detailProductsStyle.css" rel="stylesheet"> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!-- Para que funcionen lo Iconos, no tocar -->
<script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!-- Para que funcionen lo Iconos, no tocar -->
</head>