<!DOCTYPE html>
<html lang="en">
<head>
     <!-- INCLUDES HEAD-->
<%- include('./partials/head') %>
</head>
<body>
    <!-- INCLUDES HEADER-->
<%- include('./partials/header') %>


 

  <!-- INCLUDES FOOTER-->
<%- include('./partials/footer') %>
</body>
</html>