cart

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GROWSHOP</title>
  <link href="css/style.css" rel="stylesheet"> <!-- CSS del Header, no tocar -->
  <link href="css/cartStyle.css" rel="stylesheet"> <!-- BORRAR, SOLO PARA EL INDEX-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!-- Para que funcionen lo Iconos, no tocar -->
<script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!-- Para que funcionen lo Iconos, no tocar -->
</head>
<body>
    <header>
        <div>
            <h4 id="promoHeader">20% de decuento en sdjfidoshfs</h4>
        </div>
        <div class="headingContainer">
            <div class="searchBar">
            <i class="fa-sharp fa-solid fa-bars burger-menu"></i>
                <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i><!--icono lupa--> 
                <input type="text" placeholder="Buscar productos, servicios, más..">
            </div>
            <div class="headingLogo">
                <!-- <h1>GROWSHOP</h1> reemplazar con logo  -->
                <img src="../public/img/logoGHboceto.png" alt="" class="logo">
            </div>
            <div class="iconosPrincipales">
                <i class="fa-sharp fa-solid fa-user fa-2x"></i><!--icono usuario-->
                <i class="fa-sharp fa-solid fa-envelope fa-2x"></i><!--sobre de contacto-->
                <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i> <!--cansato de compras... no funciona. ver que pasa-->
            </div>
        </div>
        
        <nav class="nav-bar">
            <ul class="menuPrincipal">
                <li><a href="">PRODUCTOS</a></li> 
                <li><a href="">APRENDE MAS</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">ASESORIAS</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>

        </nav>
       
    </header>
    <main>
      <section class="tituloCart">
        <h2>CARRITO DE COMPRAS</h2>

      </section>
      <section class="listaCart">

        <div class="detalleCart">
            <h3>ITEMS</h3>
            <h3>PRECIO</h3>
            <h3>CANTIDAD</h3>
            <h3>TOTAL</h3>
        </div>
        <div class="itemResumenCart">

        <div class="itemsCart">
            <article>
                <div class="itemImg">
                    <img src="../public/img/cbdcbggummies.png" alt="" class="imgItemCart">
                    <h3 class="nombreItemCart">Fruity CBD/CBG Hemp Gummies | 500mg CBD | 500mg CBD</h3>
                </div>
                <h3 class="precioItemCart">$1800</h3>
                <div class="masMenos">
                    <button>+</button>
                    <!--icon favorite, add product, cart--> <h3>1</h3>
                    <button>-</button>
                </div>
                <h3>$1800</h3>
            </article>
            <article>
                <div class="itemImg">
                    <img src="../public/img/gummiescanna.png" alt="" class="imgItemCart">
                    <h3 class="nombreItemCart">Fruity CBD/CBG Hemp Gummies | 500mg CBD | 500mg CBD</h3>
                </div>
                <h3 class="precioItemCart">$1800</h3>
                <div class="masMenos">
                    <button>+</button>
                    <!--icon favorite, add product, cart--> <h3>1</h3>
                    <button>-</button>
                </div>
                <h3>$1800</h3>
            </article>
        </div>
        <div class="resumenCart">
            <h3>Resumen</h3>
            <div class="subtotalCart">
                <h4>Sub-total</h4>
                <h4>$3600</h4>
            </div>
            <div class="totalsEnvioCart">
                <h4>Total sin envio</h4>
                <h4>$3600</h4>
            </div>
            <button><a href="#">PAGAR</a></button>


        </div>

    </div>
        

      </section>

    </main>
    <footer>
        <section class="menuFooter">
           <div>
                <h3>PRODUCTOS</h3>
                <ul>
                    <li><a href="#">Sustratos</a></li>
                    <li><a href="#">Luces</a></li>
                    <li><a href="#">Fertilizantes</a></li>
                    <li><a href="#">Parafrenalia</a></li>
                    <li><a href="#">Hidroponia</a></li>
                    <li><a href="#">Picadores</a></li>
                    <li><a href="#">Carpas</a></li>
                    <li><a href="#">Frascos</a></li>
                </ul>
            </div>
            <div>
                <h3>APRENDE MAS</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div>
                <h3>SERVICIOS</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div>
                <h3>ASESORIAS</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div>
                <h3></h3>
            </div>

        </section>
        <div class="redesSociales">
            <h4>Seguinos</h4>
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-tiktok fa-2x"></i>
            <i class="fa-brands fa-twitter fa-2x"></i>
        </div>
    </footer>

</body>

</html>