<!DOCTYPE html>
<html lang="en">


   
    <%-include('partials/head') %>


 <!-- INCLUDES HEAD-->

 
 <body>
    <!-- INCLUDES HEADER-->
  <%- include('partials/header') %>
    <main class="mainContact">
        <section class="contact"> 
                <h2>Contáctanos</h2>
        </section>
        <section class="infoContact">
          <div class="imgContact">
            <img src="img/contact.jpg" alt="imagen para acompañar info conact" class="desktop">
            <img src="img/contactMobile.jpg" alt="imagen para acompañar info conact" class="mobile">
          </div>
          <div class="detailContact">
            <div class="detailText">
                <p>Buenos Aires Insumos S.A.</p>
                <p>Cabildo 500, CABA, Buenos Aires.</p>
                <p><a href="tel:+5491142546934">Télefono: +54 911 42546934</a></p>
                <p><a href="mailto:info@thefutureisgreen.com">eMail: info@thefutureisgreen.com</a></p>
            </div>
            <div class="detailIcons">
              <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
              <a href=""><i class="fa-brands fa-tiktok fa-2x"></i></a>
              <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
            </div>
        </div>
        </section>
    </main>

    <!-- INCLUDES FOOTER-->
<%- include('partials/footer') %>  
</body> 
</html>