<!DOCTYPE html>
<html lang="en">
<!-- INCLUDES HEAD-->
<%- include('partials/head') %>

<!-- INCLUDES HEADER-->
<%- include('partials/header') %>
<body>
    <main>
        <section class="bannerIndex">
            <img src="img/ejemplobanner.jpg" alt="Banner de inicio">
            <div class="bannerIndexInfo">
                <ul>
                    <li>Nuevas Bombas de agua</li>
                    <li>¿Todavía no las conoces?</li>
                    <li>Pasa por el local o compralas ya</li>
                </ul>
                <button>COMPRAR</button>
            </div>
        </section>

        <section class="destacado">
            <img src="img/products/AdvanceNutrients.jpg" alt="">
            <div class="destacadoInfo">
                <button class="conocer">CONOCER MAS</button>
                <button class="comprar">COMPRAR</button>
            </div>   
        </section>

        <section class="productoIndex">
            <h2>CATEGORIA DE PRODUCTOS</h2>
            <div class="productosMenu">
                <div class="producto">
                    <img src="img/products/Jiffysustrato.jpg" alt="placeholder">
                    <h3>SUSTRATOS</h3>
                </div>
                <div class="producto">
                    <img src="img/products/LedMars.jpeg" alt="placeholder">
                    <h3>LUCES</h3>
                </div>
                <div class="producto">
                    <img src="img/products/nirvana-advanced-nutrients-fertilizante-aditivo-500ml-D_NQ_NP_632441-MLU29285002209_012019-F.jpg" alt="placeholder">
                    <h3>FERTILIZANTES</h3>
                </div>
                <div class="producto">
                    <img src="img/products/D_NQ_NP_753908-MLA43213479185_082020-F.jpg" alt="placeholder">
                    <h3>PARAFRENALIA</h3>
                </div>
                <div class="producto">
                    <img src="img/products/BaldeHidro2.jpg" alt="placeholder">
                    <h3>HIDROPONIA</h3>
                </div>
                <div class="producto">
                    <img src="img/products/GrinderSanta.jpeg" alt="placeholder">
                    <h3>PICADORES</h3>
                </div>
                <div class="producto">
                    <img src="img/products/CarpaIndoor.jpg" alt="placeholder">
                    <h3>CARPAS</h3>
                </div>
                <div class="producto">
                    <img src="img/products/FRASCO.jpeg" alt="placeholder">
                    <h3>FRASCOS</h3>
                </div>
            </div>
            
        </section>

        <section class="banners">
            <div class="bannerUno">
                <img src="img/products/reprocann.png" alt="">
                <button>CONOCER MAS</button>
            </div>
            <div class="bannerDos">
                <img src="img/products/SustratoGrowMix.jpeg" alt="">
                <button>COMPRAR</button>
            </div>
        </section>               
    </main> 
<!-- INCLUDES FOOTER-->
<%- include('partials/footer') %>  
</body> 
</html>
