<!DOCTYPE html>
<html lang="en">
<!-- INCLUDES HEAD-->
<%- include('partials/head') %>

<body>
    <!-- INCLUDES HEADER-->
    <%- include('partials/header') %>
    <main class="index">

        <section class="banners">
            <div class="banner">
                <a href="/products">
                    <img src="img/banner1.jpg" alt="ir a productos" class="desktop">
                    <img src="img/banner1mobile.jpg" alt="ir a productos" class="mobile">
                </a>
<!--            </div>
            <div class="banner">
                <a href="/services">
                    <img src="img/banner2.jpg" alt="servicio" class="desktop">
                    <img src="img/banner2mobile.jpg" alt="servicio" class="mobile">
                </a>
            </div>
            <div class="banner">
                <a href="/aprendeMas">
                    <img src="img/banner3.jpg" alt="servicio" class="desktop">
                    <img src="img/banner3mobile.jpg" alt="servicio" class="mobile">
                </a>
            </div>
            <div class="banner">
                <a href="">
                    <img src="img/banner4.jpg" alt="servicio" class="desktop">
                    <img src="img/banner4mobile.jpg" alt="servicio" class="mobile">
                </a>
            </div>

        </section>
        <!-- <section class="carrusel">
            Slideshow container 
            <div class="slideshow-container">

                Full-width images with number and caption text
                <div class="mySlides fade">
                <img src="img/banner1.jpg" style="width:100%">
                </div>
            
                <div class="mySlides fade">
                <img src="img/banner2.jpg" style="width:100%">
                </div>
  
                <div class="mySlides fade">
                <img src="img/banner3.jpg" style="width:100%">
                </div>
            
                Next and previous buttons
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
  
            The dots/circles
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </section> -->
        <!-- <section class="homeInfo">
            <h3>Usos para el cannabis</h3>
            <ul>
                <li>ACEITE</li>
                <li>SOGAS</li>
                <li>CABLEADO</li>
                <li>COMPOST</li>
                <li>COSMETICO</li>
                <li>ALIMENTARIO</li>
                <li>ENERGIA</li>
                <li>TEXTIL</li>
                <li>PAPEL</li>
                <li>Y MUCHO MAS</li>
                <li><a href=""> ¿QUERES APRENDER MAS? </a></li>
            </ul>
        </section> -->
       


        <!-- <section class="productoIndex">
            <h2>CATEGORIA DE PRODUCTOS</h2>
            <div class="productosMenu">
                <div class="producto">
                    <img src="img/products/Jiffysustrato.jpg" alt="placeholder">
                    <h3>SUSTRATOS</h3>
                </div>
                <div class="producto">
                    <img src="img/products/LedMars.jpeg" alt="placeholder">
                    <h3>LUCES</h3>
                </div>
                <div class="producto">
                    <img src="img/products/nirvana-advanced-nutrients-fertilizante-aditivo-500ml-D_NQ_NP_632441-MLU29285002209_012019-F.jpg" alt="placeholder">
                    <h3>FERTILIZANTES</h3>
                </div>
                <div class="producto">
                    <img src="img/products/D_NQ_NP_753908-MLA43213479185_082020-F.jpg" alt="placeholder">
                    <h3>PARAFRENALIA</h3>
                </div>
                <div class="producto">
                    <img src="img/products/BaldeHidro2.jpg" alt="placeholder">
                    <h3>HIDROPONIA</h3>
                </div>
                <div class="producto">
                    <img src="img/products/GrinderSanta.jpeg" alt="placeholder">
                    <h3>PICADORES</h3>
                </div>
                <div class="producto">
                    <img src="img/products/CarpaIndoor.jpg" alt="placeholder">
                    <h3>CARPAS</h3>
                </div>
                <div class="producto">
                    <img src="img/products/FRASCO.jpeg" alt="placeholder">
                    <h3>FRASCOS</h3>
                </div>
            </div>
            
        </section> -->
<!-- 
        <section class="banners">
            <div class="bannerUno">
                <img src="img/products/reprocann.png" alt="">
                <button>CONOCER MAS</button>
            </div>
            <div class="bannerDos">
                <img src="img/products/SustratoGrowMix.jpeg" alt="">
                <button>COMPRAR</button>
            </div>
        </section>                -->
    </main> 
<!-- INCLUDES FOOTER-->
<%- include('partials/footer') %>  
</body> 
</html>
