<!-- INCLUDES HEAD-->
<%- include('partials/head') %>
<!-- INCLUDES HEADER-->
<%- include('partials/header') %>
<body>
    <main>
        <section class="bannerIndex">
            <img src="img/bannerInicioPlaceholder.png" alt="">
            <div class="bannerIndexInfo">
                <ul>
                    <li>Como se veria</li>
                    <li>El texto que va aca</li>
                    <li>Despues se cambia</li>
                </ul>
                <button>COMPRAR</button>
            </div>
        </section>

        <section class="destacado">
            <img src="img/bannerInicioPlaceholder.png" alt="">
            <div class="destacadoInfo">
                <button class="conocer">CONOCER MAS</button>
                <button class="comprar">COMPRAR</button>
            </div>   
        </section>

        <section class="productoIndex">
            <h2>CATEGORIA DE PRODUCTOS</h2>
            <div class="productosMenu">
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>SUSTRATOS</h3>
                </div>
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>LUCES</h3>
                </div>
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>FERTILIZANTES</h3>
                </div>
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>PARAFRENALIA</h3>
                </div>
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>HIDROPONIA</h3>
                </div>
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>PICADORES</h3>
                </div>
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>CARPAS</h3>
                </div>
                <div class="producto">
                    <img src="img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>FRASCOS</h3>
                </div>
            </div>
            
        </section>

        <section class="banners">
            <div class="bannerUno">
                <img src="img/bannerInicioPlaceholder.png" alt="">
                <button>CONOCER MAS</button>
            </div>
            <div class="bannerDos">
                <img src="img/bannerInicioPlaceholder.png" alt="">
                <button>COMPRAR</button>
            </div>
        </section>               
    </main> 
<!-- INCLUDES FOOTER-->
<%- include('partials/footer') %>  
</body> 
</html>
