<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GROWSHOP</title>
  <link href="../public/css/style.css" rel="stylesheet"> <!-- CSS del Header, no tocar -->
  <link href="../public/css/indexStyle.css" rel="stylesheet"> <!-- BORRAR, SOLO PARA EL INDEX-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!-- Para que funcionen lo Iconos, no tocar -->
<script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!-- Para que funcionen lo Iconos, no tocar -->
</head>
<body>
    <header>
        <div>
            <h4 id="promoHeader">20% de decuento en sdjfidoshfs</h4>
        </div>
        <div class="headingContainer">
            <div class="searchBar">
            <i class="fa-sharp fa-solid fa-bars" class="burger-menu"></i>
                <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i><!--icono lupa--> 
                <input type="text" placeholder="Buscar productos, serivicios, más..">
            </div>
            <div class="headingLogo">
                <!-- <h1>GROWSHOP</h1> reemplazar con logo  -->
                <img src="../public/img/logoGHboceto.png" alt="" class="logo">
            </div>
            <div class="iconosPrincipales">
                <i class="fa-sharp fa-solid fa-user fa-2x"></i><!--icono usuario-->
                <i class="fa-sharp fa-solid fa-envelope fa-2x"></i><!--sobre de contacto-->
                <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i> <!--cansato de compras... no funciona. ver que pasa-->
            </div>
        </div>
        
        <nav class="nav-bar">
            <ul class="menuPrincipal">
                <li><a href="">PRODUCTOS</a></li> 
                <li><a href="">APRENDE MAS</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">ASESORIAS</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>

        </nav>
       
    </header>


    <main>
        <section class="bannerIndex">
            <img src="../public/img/bannerInicioPlaceholder.png" alt="">
            <div class="bannerIndexInfo">
                <ul>
                    <li>Como se veria</li>
                    <li>El texto que va aca</li>
                    <li>Despues se cambia</li>
                </ul>
                <button>COMPRAR</button>
            </div>
        </section>

        <section class="destacado">
            <img src="../public/img/bannerInicioPlaceholder.png" alt="">
            <div class="destacadoInfo">
                <button class="conocer">CONOCER MAS</button>
                <button class="comprar">COMPRAR</button>
            </div>   
        </section>

        <section class="productoIndex">
            <h2>CATEGORIA DE PRODUCTOS</h2>
            <div class="productosMenu">
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>SUSTRATOS</h3>
                </div>
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>LUCES</h3>
                </div>
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>FERTILIZANTES</h3>
                </div>
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>PARAFRENALIA</h3>
                </div>
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>HIDROPONIA</h3>
                </div>
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>PICADORES</h3>
                </div>
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>CARPAS</h3>
                </div>
                <div class="producto">
                    <img src="../public/img/imagePlacerholder.jpg" alt="placeholder">
                    <h3>FRASCOS</h3>
                </div>
            </div>
            
        </section>

        <section class="banners">
            <div class="bannerUno">
                <img src="../public/img/bannerInicioPlaceholder.png" alt="">
                <button>CONOCER MAS</button>
            </div>
            <div class="bannerDos">
                <img src="../public/img/bannerInicioPlaceholder.png" alt="">
                <button>COMPRAR</button>
            </div>
        </section>
       
    </main>


    <footer>
        <section class="menuFooter">
           <div>
                <h3>PRODUCTOS</h3>
                <ul>
                    <li><a href="#">Sustratos</a></li>
                    <li><a href="#">Luces</a></li>
                    <li><a href="#">Fertilizantes</a></li>
                    <li><a href="#">Parafrenalia</a></li>
                    <li><a href="#">Hidroponia</a></li>
                    <li><a href="#">Picadores</a></li>
                    <li><a href="#">Carpas</a></li>
                    <li><a href="#">Frascos</a></li>
                </ul>
            </div>
            <div>
                <h3>APRENDE MAS</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div>
                <h3>SERVICIOS</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div>
                <h3>ASESORIAS</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <ul>
                    <li><a href="#"></a></li>
                </ul>
            </div>


        </section>
        <div class="redesSociales">
            <h4>Seguinos</h4>
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-tiktok fa-2x"></i>
            <i class="fa-brands fa-twitter fa-2x"></i>
        </div>
    </footer>

</body>

</html>
