<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GROWSHOP</title>
  <link href="../public/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <h4 id="promoHeader">20% de decuento en sdjfidoshfs</h4>
        </div>
        <div class="headingContainer">
            <div class="searchBar">
                <img src="" alt="">  <!-- lupa--> 
                <input type="text" placeholder="Buscar productos, serivicios, más..">
            </div>
            <div class="headingLogo">
                <h1>GROWSHOP</h1> <!-- reemplazar con logo--> 
            </div>
            <div class="iconosPrincipales">
                <!-- colocar iconos cuenta, mail y carrito --> 
            </div>
        </div>
        <nav>
            <ul class="menuPrincipal">
                <li><a href="">PRODUCTOS</a></li> 
                <li><a href="">APRENDE MAS</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">ASESORIAS</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>

        </nav>

    </header>
    <main>
        <section>

        </section>
        <section>
            
        </section>
        <section>
            
        </section>

    </main>
    <footer>

    </footer>

</body>

</html>
