<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="Titulo1">Iniciar Sesión</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/loginStyle.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!-- Para que funcionen lo Iconos, no tocar -->
<script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!-- Para que funcionen lo Iconos, no tocar -->
</head>
<body>
  <header>
    <div>
        <h4 id="promoHeader">20% de decuento en sdjfidoshfs</h4>
    </div>
    <div class="headingContainer">
        <div class="searchBar">
            <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i><!--icono lupa--> 
            <input type="text" placeholder="Buscar productos, serivicios, más..">
        </div>
        <div class="headingLogo">
            <!-- <h1>GROWSHOP</h1> reemplazar con logo  -->
            <img src="../public/img/logoGHboceto.png" alt="" class="logo">
        </div>
        <div class="iconosPrincipales">
            <i class="fa-sharp fa-solid fa-user fa-2x"></i><!--icono usuario-->
            <i class="fa-sharp fa-solid fa-envelope fa-2x"></i><!--sobre de contacto-->
            <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i> <!--cansato de compras... no funciona. ver que pasa-->
        </div>
    </div>
   
    <nav class="nav-bar ,">
        <ul class="menuPrincipal">
            <li><a href="">PRODUCTOS</a></li> 
            <li><a href="">APRENDE MAS</a></li>
            <li><a href="">SERVICIOS</a></li>
            <li><a href="">ASESORIAS</a></li>
            <li><a href="">CONTACTO</a></li>
        </ul>
    </nav>
</header> 
<main>
    <!-- <div>
        <img src="../public/img/imagePlacerholder.jpg" alt="">
    </div> -->
  <div class="Container">
    <h2 class="subtitulo">INICIAR SESION</h2>
    <form action = "index.html" method="POST" class="formulario" > 
        <div>
        <label class="datos"> Correo Eléctronico </label>
        <input class="datos2" type="email" name="CorreoElectronico" placeholder="maureeen@gmail.com">
        </div>
        
        <div>
        <label class="datos"> Contraseña </label>
        <input  class="datos2" type="password" name="Contraseña" placeholder="*********">
        </div>
        <label class="ultima"> No tienes cuenta? </label>
        <a href= "../public/css/style.css " class="registrarse"  >    Registrarse  </a>
  

    <input type = "submit" value= "Confirmar" class="boton" ></input>

    <a href="../public/css/style.css" class="contraseña2"> Olvide mi contraseña </a>
  </form>   
 </div>
</main> 


<footer>

    <div class="redesSociales">
        <i class="fa-brands fa-instagram fa-2x"></i>
        <i class="fa-brands fa-tiktok fa-2x"></i>
        <i class="fa-brands fa-twitter fa-2x"></i>
    </div>

</footer>

</body>
</html>