<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GROWSHOP</title>
  <link href="../public/css/style.css" rel="stylesheet"> <!-- CSS del Header, no tocar -->
  <link href="../public/css/productStyle.css" rel="stylesheet"> <!-- BORRAR, SOLO PARA EL INDEX-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!-- Para que funcionen lo Iconos, no tocar -->
<script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!-- Para que funcionen lo Iconos, no tocar -->
</head>
<body>
    <header>
        <div>
            <h4 id="promoHeader">20% de decuento en sdjfidoshfs</h4>
        </div>
        <div class="headingContainer">
            <div class="searchBar">
                <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i><!--icono lupa--> 
                <input type="text" placeholder="Buscar productos, serivicios, más..">
            </div>
            <div class="headingLogo">
                <!-- <h1>GROWSHOP</h1> reemplazar con logo  -->
                <img src="../public/img/logoGHboceto.png" alt="" class="logo">
            </div>
            <div class="iconosPrincipales">
                <i class="fa-sharp fa-solid fa-user fa-2x"></i><!--icono usuario-->
                <i class="fa-sharp fa-solid fa-envelope fa-2x"></i><!--sobre de contacto-->
                <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i> <!--cansato de compras... no funciona. ver que pasa-->
            </div>
        </div>
       
        <nav class="nav-bar ,">
            <ul class="menuPrincipal">
                <li><a href="">PRODUCTOS</a></li> 
                <li><a href="">APRENDE MAS</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">ASESORIAS</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <section class="product">
            <div class="productTitle">
                <h2>Fruity CBD/CBG Hemp Gummies | 500mg CBD | 500mg CBD</h2>
                <p class="productTitleCreator">by GrowingGood LABs</p>
            </div>
            <div class="productAdd">
                <!--icon favorite, add product, cart-->
                <div class="masMenos">
                    <button class=""> - </button>
                    <h3>1</h3>
                    <button class=""> + </button>
                </div>
                <button class="">Agregar a carrito</button>
                <button class=""><i class="fa-regular fa-heart"></i></button>
            </div>
            

        </section>
        <section class="productSpec"> 
            <img src="../public/img/cbdcbggummies.png" alt="cbdGummies">
            <div class="productSpecInfo">
                <h3>Especificaciones del producto</h3>
                <p>Estos no son ositos de goma ordinarios como cuando eras niño. Encuentra alivio con nuestra combinación perfecta de gomitas orgánicas de cannabigerol y cannabidiol premium. La relación 1:1 CBG/CBG es ideal para una liberación lenta del estrés.
                    <br>
                    El CBG es un compuesto de cannabis que se usa a menudo para combatir la inflamación, mientras que el CBD tiene muchos beneficios, incluidos el alivio del dolor, la relajación y otros beneficios para la salud. Rebosante de verdadero sabor a fruta, cada gominola contiene 12,5 mg de CBG y 12,5 mg de CBD, para que pueda experimentar lo mejor de ambos mundos.
                    <br>
                    ● Probado en laboratorio <br>
                    ● Hecho a mano en pequeños lotes <br>
                    ● 40 gomitas por frasco (1000 mg) <br>
                    ● Menos del 0,3 % de THC</p>
            </div>
            </div>

        </section>

    </main>
    <footer>

        <div class="redesSociales">
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-tiktok fa-2x"></i>
            <i class="fa-brands fa-twitter fa-2x"></i>
        </div>

    </footer>

</body>

</html>
