<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GROWSHOP</title>
  <link href="../public/css/style.css" rel="stylesheet"> <!-- CSS del Header, no tocar -->
  <link href="../public/css/registerStyle.css" rel="stylesheet"> <!-- BORRAR, SOLO PARA EL INDEX-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> <!-- Para que funcionen lo Iconos, no tocar -->
<script src="https://kit.fontawesome.com/9ff4ec337d.js" crossorigin="anonymous"></script> <!-- Para que funcionen lo Iconos, no tocar -->
</head>
<body>
    <header>
        <div>
            <h4 id="promoHeader">20% de decuento en sdjfidoshfs</h4>
        </div>
        <div class="headingContainer">
            <div class="searchBar">
                <i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i><!--icono lupa--> 
                <input type="text" placeholder="Buscar productos, serivicios, más..">
            </div>
            <div class="headingLogo">
                <h1>GROWSHOP</h1> <!-- reemplazar con logo--> 
            </div>
            <div class="iconosPrincipales">
                <i class="fa-sharp fa-solid fa-user fa-2x"></i><!--icono usuario-->
                <i class="fa-sharp fa-solid fa-envelope fa-2x"></i><!--sobre de contacto-->
                <i class="fa-sharp fa-solid fa-cart-shopping fa-2x"></i> <!--cansato de compras... no funciona. ver que pasa-->
            </div>
        </div>
        <hr>
        <nav>
            <ul class="menuPrincipal">
                <li><a href="">PRODUCTOS</a></li> 
                <li><a href="">APRENDE MAS</a></li>
                <li><a href="">SERVICIOS</a></li>
                <li><a href="">ASESORIAS</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>
        </nav>
        <hr>
    </header>

    <main>
      <div class="Contenedor">
      <p class="registro">REGISTRARSE</p>

      <form action="Registro" method="POST">
        <div>
        <label class="Email"> Correo Electrónico </label>
        <input class="Email2" type="email" name="email" placeholder="roddfly@gmail.com">
        </div>
        <div>
        <label class="Contraseña"> Contraseña </label>  
        <input class="Contraseña2" type="password" name="contraseña" placeholder="********">        
        </div>
        <div>
        <label class="Contraseña3"> Confirmar Contraseña </label>  
        <input class="Contraseña4" type="password" name="contraseña" placeholder="********">        
        </div>
        <div>
        <label class="Nombre" > Nombre </label>
        <input class="Nombre2" type="text" name="nombre" placeholder="DonFumon">
        </div>
        <div>
        <label class="Apellido" > Apellido </label>
        <input class="Apellido2" type="text" name="apellido" placeholder="Acevedo">
        </div>
        <div>
        <label class="Direccion" > Dirección - Linea 1 </label>
        <input class="Direccion2" type="text" name="direccion" placeholder="Aristobulo Del Valle 1455">
        </div>
        <div>
        <label class="Direccion3" > Dirección - Linea 2 (opcional)</label>
        <input class="Direccion4" type="text" name="direccion2" placeholder="Maipu 335">
        </div>
        <div>
        <label class="Ciudad" > Ciudad </label>
        <input class="Ciudad2" type="text" name="ciudad" placeholder="Vicente López">
        </div>
        <div>
        <label class="Provincia" > Provincia </label>
        <input class="Provincia2" type="text" name="Provincia" placeholder=" Buenos Aires">
        </div>
        <div>
        <label class="Codigo" > Código Postal </label>
        <input class="Codigo2" type="number" name="codigo" placeholder="1644">
        </div>
        <div>
        <label class="Pais" > Pais </label>
        <input class="Pais2" type="text" name="apellido" placeholder="Argentina">
        </div>
        <button class="BotonRegistro"> REGISTRARSE </button>
      </form>
      </div>
    </main>

    <footer class=" footer">
        <div class="redesSociales">
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-tiktok fa-2x"></i>
            <i class="fa-brands fa-twitter fa-2x"></i>
        </div>
    </footer>
</body>
</html>
