/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); /* Font Roboto bold 900 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Font Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Font roboto regular */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Lobster font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*lato regular font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); /*lato bold*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); /*lato thin*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); /*Garamond regular font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');/*Garamond italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap'); /*garamond Bold*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*Zilla Slab regular font-family: 'Zilla Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap'); /*Zilla Slab hilighted font-family: 'Zilla Slab Highlight', cursive;*/

    :root {
     --dark-olive-green : #5a6b47;
     --black : #000000;
     --artichoke : #a1a48f;
     --tan: #dabf94;
     --cafe-noir :#3f3222;
     --white : #ffffff;
    } 
    
    

/*PALETA DE COLORES -- VERDE MUSGO: #5a6b47 - VERDE CLARO: #a1a48f - CREMA: #dabf94 - NEGRO: #000000 - MARRON: #3f3222 - BLANCO: #ffffff */

/*ICONOS: https://fontawesome.com/icons/magnifying-glass?s=solid&f=sharp no usar otros del sitio asi son todos similares*/

main{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;

   
}
.mainCart{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 1fr;
}
.listaCart{
    width: 100%;
}
.tituloCart{
    width: 100%;
    margin: auto;
    color:#3f3222;
    padding: 20px;
    border-bottom: #5a6b47 5px solid;
}

.mainCart .tituloCart h2{
    text-align: left;
}

.mainCart .detalleCart{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr ;
    border-bottom: #5a6b47 3px solid;
    padding: 20px;
    width: 100%;
}

.mainCart .itemResumenCart{
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr ;
    border-bottom: #5a6b47 3px solid;
    padding: 20px;
    width: 100%;
}
.mainCart .itemResumenCart h2{
    font-size: 18px;
    padding: 10px;
    width: 75%;
}
.mainCart .itemResumenCart h3{
    font-size: 15px;
    padding: 10px;
    width: 75%;
}
.mainCart .itemResumenCart h4{
    font-size: 12px;
    padding: 10px;
    width: 75%;
}
.resumenCart{
    width: 80%;
    margin: auto;
    border: #5a6b47 3px solid;
    padding: 20px;
}
.resumenCart .subtotalCart{
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
}
.resumenCart button{
    width: 80%;
    margin-top: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--artichoke);
    color: var(--white);
    border: none;
    box-shadow: 2px 2px 1px grey;
}
.resumenCart button:active{
    background-color: var(--dark-olive-green);
    box-shadow: 3px 3px 2px darkgrey;
    transform: translateY(2px);
}
.resumenCart button a{
    text-decoration: none;
    color: var(--white);
    
}





/*VERSION TABLET*/
@media (max-width: 1023px){
    .mainCart{
        grid-template-columns: 1fr ;
    }
    .mainCart .itemResumenCart{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }
    .mainCart .detalleCart{
        width: 100%;
        grid-template-columns: 1fr ;
       
    }
    .mainCart .itemResumenCart{
        width: 100%;
        grid-template-columns: 1fr ;
    }
  
  }
  



  /*VERSION MOBILE*/
  @media (max-width: 767px){

    .mainCart .itemsCart article .itemImg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
      

  }
  
  