/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); /* Font Roboto bold 900 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Font Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Font roboto regular */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Lobster font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*lato regular font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); /*lato bold*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); /*lato thin*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); /*Garamond regular font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');/*Garamond italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap'); /*garamond Bold*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*Zilla Slab regular font-family: 'Zilla Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap'); /*Zilla Slab hilighted font-family: 'Zilla Slab Highlight', cursive;*/

    :root {
     --dark-olive-green : #5a6b47;
     --black : #000000;
     --artichoke : #a1a48f;
     --tan: #dabf94;
     --cafe-noir :#3f3222;
     --white : #ffffff;
    }



.mainCreateProducts{

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.mainCreateProducts .registroProducto{
  width: 100%;
  margin: auto;
}

.mainCreateProducts .registroProducto .subtitulo{
  color: #5a6b47;
  border-bottom: #5a6b47 5px solid;
}

.mainCreateProducts .registroProducto .subtitulo h2{
  text-align: left;
  align-items: center;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: bold;
  padding: 40px;
  margin-left: 50px;
}

.mainCreateProducts .registroProducto form {
  width: 70%;
  padding: 40px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}

.mainCreateProducts .registroProducto form .group{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
  
}
.mainCreateProducts .registroProducto form .group .formProducts{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}

.mainCreateProducts .registroProducto form .group .formProducts label{
  color: #5a6b47;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.mainCreateProducts .registroProducto form .group .formProducts input{
  color: #5a6b47;
  border: #eee1cd 1px solid;
  text-align: center;
  padding: 10px;  
  box-shadow: 2px 2px 1px grey;
}

.mainCreateProducts .registroProducto form .groupDetail {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 25px;
}
.mainCreateProducts .registroProducto form .groupDetail .formProducts{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}

.mainCreateProducts .registroProducto form .groupDetail .formProducts label{
  color: #5a6b47;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.mainCreateProducts .registroProducto form .groupDetail .formProducts input{
  color: #5a6b47;
  border: #eee1cd 1px solid;
  text-align: center;
  padding: 10px;  
  width: 100%;
  box-shadow: 2px 2px 1px grey;
}

.mainCreateProducts .registroProducto form .button{
  margin-top: 30px;
}

.mainCreateProducts .registroProducto form .button button{
  margin: auto;
  color:white;
  justify-content: center;
  margin-bottom: 5px;
  background-color: #5a6b47;    
  border: none;
  width: 50%;
  padding: 25px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--artichoke);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition:450ms;
  box-shadow: 2px 2px 1px grey;
}

.mainCreateProducts .registroProducto form .button button:active{
  background-color: var(--dark-olive-green);
  box-shadow: 3px 3px 2px darkgrey;
  transform: translateY(2px);
}