/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); /* Font Roboto bold 900 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Font Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Font roboto regular */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Lobster font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*lato regular font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); /*lato bold*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); /*lato thin*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); /*Garamond regular font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');/*Garamond italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap'); /*garamond Bold*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*Zilla Slab regular font-family: 'Zilla Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap'); /*Zilla Slab hilighted font-family: 'Zilla Slab Highlight', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

    :root {
     --dark-olive-green : #5a6b47;
     --black : #000000;
     --artichoke : #a1a48f;
     --tan: #dabf94;
     --cafe-noir :#3f3222;
     --white : #ffffff;
    } 
    
/*PALETA DE COLORES -- VERDE MUSGO: #5a6b47 - VERDE CLARO: #a1a48f - CREMA: #dabf94 - NEGRO: #000000 - MARRON: #3f3222 - BLANCO: #ffffff */

/*ICONOS: https://fontawesome.com/icons/magnifying-glass?s=solid&f=sharp no usar otros del sitio asi son todos similares*/
.index{
  margin-top: 0%;
}
.index .banners{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.index .banners img{
  width: 100%;
}
.index .banners .banner .mobile{
  display: none;
}


/*CARRUSEL*/

* {box-sizing:border-box}

/* Slideshow container */
/* .carrusel .slideshow-container {
  max-width: 2200px;
  position: relative;
  margin: auto;
} */

/* Hide the images by default */
/* .carrusel .mySlides {
  display: none;
} */

/* Next & previous buttons */
/* .carrusel .prev, .carrusel .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
/* .carrusel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .carrusel .prev:hover, .carrusel .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.carrusel .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .carrusel .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */
/* The dots/bullets/indicators */
/* .carrusel .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carrusel .active, .carrusel .dot:hover {
  background-color: #717171;
} */

/* Fading animation */
/* .carrusel .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */



/*PRODUCTO DESTACADO BANNER PRE PDOCUTOS*/
 

/*PRODUCTOS*/
/* .productoIndex{
  padding: 20px;
  background-color: #5a6b47;
  color:#ffffff;
}

.productosMenu{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.producto{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 10%;
  
}

.producto img{
  width: 100%;
  padding: 10px;
}

.producto h3{
  font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px;
    text-align: center;
} */


/*BANNERS MELLIZOS*/
/* .banners{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  
}

.bannerUno{
  margin: 50px auto;
  width: 75%;
}
.bannerUno img{
  width: 100%;
}

.bannerUno button{
  padding: 10px;
  color: #ffffff;
  background-color: #dabf94;
  border-radius: 5px;
  z-index: 100;
  width: 40%;
  margin: 10px;
  align-items: center;
  border: none;
  position: relative;
  bottom: 100px;
  left: 50%;
  z-index: 50;

}

.bannerDos{
  margin: auto;
  width: 75%;
  
}

.bannerDos img{
  width: 100%;
}

.bannerDos button{
  padding: 10px;
  color: #ffffff;
  background-color: #5a6b47;
  border-radius: 5px;
  z-index: 100;
  width: 40%;
  margin: 10px;
  align-items: center;
  border: none;
  position: relative;
  bottom: 100px;
  left: 10%;
  z-index: 50;

} */


/*VERSION TABLET*/
 @media (max-width: 1023px){
  /* .producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 24%;
    
  }
  .bannerIndex {
    margin-top: 250px;
  }
   */


}

/*VERSION MOBILE*/
@media (max-width: 767px){
  .banners .banner .desktop{
    display: none;
  }
  .index .banners .banner .mobile{
    display: block;
    width: 100%;
    margin: auto;
  }

    /* .producto{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      width: 48%;
      
    }
    .bannerIndex {
      margin-top: 220px;
    }

    .bannerIndex img{
      content: url("../img/mobilePlaceholder.png");
    }

    .destacado{
      margin: 20px auto;
      width: 90%;
    }

    .destacado img{
      content: url("../img/mobilePlaceholder.png");
    }

    .bannerUno{
      margin: 50px auto;
      width: 90%;
    }

    .bannerUno img{
      content: url("../img/mobilePlaceholder.png");
    }

    .bannerDos{
      margin: 50px auto;
      width: 90%;
    }

    .bannerDos img{
      content: url("../img/mobilePlaceholder.png");
    } */
}

