/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); /* Font Roboto bold 900 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Font Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Font roboto regular */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Lobster font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*lato regular font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); /*lato bold*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); /*lato thin*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); /*Garamond regular font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');/*Garamond italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap'); /*garamond Bold*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*Zilla Slab regular font-family: 'Zilla Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap'); /*Zilla Slab hilighted font-family: 'Zilla Slab Highlight', cursive;*/

    :root {
     --dark-olive-green : #5a6b47;
     --black : #000000;
     --artichoke : #a1a48f;
     --tan: #dabf94;
     --cafe-noir :#3f3222;
     --white : #ffffff;
    } 
    
    

/*PALETA DE COLORES -- VERDE MUSGO: #5a6b47 - VERDE CLARO: #a1a48f - CREMA: #dabf94 - NEGRO: #000000 - MARRON: #3f3222 - BLANCO: #ffffff */

/*ICONOS: https://fontawesome.com/icons/magnifying-glass?s=solid&f=sharp no usar otros del sitio asi son todos similares*/

.perfil {
    background-color: #a1a48f;
    margin-top: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.perfil section{
    margin-top: 20px;
    margin: auto;
    width: 100%;
}
.perfilUsuario{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.perfilUsuario div{
    padding: 25px;
    font-family: 'Roboto', sans-serif;
}
.perfilUsuario div h2{
    font-size: 30px;
}
.perfilUsuario div h3{
    font-size: 15px;
}
.perfilUsuario div button{
    margin-top: 50px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--artichoke);
    color: var(--white);
    border: none;
    box-shadow: 2px 2px 1px grey;
}
.perfilUsuario img{
    width: 100%;

}
.adminButton a{
    text-decoration: none;
    color: #3f3222;
    font-weight: bold;
}
/* .funciones-admin{
    display: none;
} */
.imagengeneralperfil {
    width: 100%;
}
.imagengeneralperfil img{
    width: 100%;
}
.funciones-admin a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

@media (max-width: 1023px){
    .perfil {
        grid-template-columns: 1fr;
    }
    
  
  }
  
  /*VERSION MOBILE*/
  @media (max-width: 767px){
   
    
   
  }
  
  