/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); /* Font Roboto bold 900 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* Font Roboto thin */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Font roboto regular */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); /* Lobster font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /*lato regular font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); /*lato bold*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap'); /*lato thin*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap'); /*Garamond regular font-family: 'Cormorant Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');/*Garamond italic*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap'); /*garamond Bold*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /*Zilla Slab regular font-family: 'Zilla Slab', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap'); /*Zilla Slab hilighted font-family: 'Zilla Slab Highlight', cursive;*/

    :root {
     --dark-olive-green : #5a6b47;
     --black : #000000;
     --artichoke : #a1a48f;
     --tan: #dabf94;
     --cafe-noir :#3f3222;
     --white : #ffffff;
    } 
    
    

/*PALETA DE COLORES -- VERDE MUSGO: #5a6b47 - VERDE CLARO: #a1a48f - CREMA: #dabf94 - NEGRO: #000000 - MARRON: #3f3222 - BLANCO: #ffffff */

/*ICONOS: https://fontawesome.com/icons/magnifying-glass?s=solid&f=sharp no usar otros del sitio asi son todos similares*/


/*GENERAL*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    color: black;
}
p{
    font-family: 'Cormorant Garamond', serif;
}

/*HEADER*/

header{
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
    width: 100%;
    background-color: #ffffff;
    z-index: 500;
    display: grid;
    grid-template-columns:1fr 3fr;
    justify-content: space-between;
    border-bottom: #5a6b47 3px solid;
}

header .headingLogo{
    padding: 5%;
}

header .mobile-nav-bar{
    display: none;
}

header i{
    padding: 10px;
    font-size: 20px;
    align-items: center;
}


/*header .searchBar{
    margin-left: 50px;
    align-items: center;
    border-bottom: #000000 5px solid;
} */

header .burger-menu{
    display: none;
}

/*header .searchBar input{
    padding: 10px 5px;
    border-radius: 5px;
    border:none;
    outline:none;
} */

header .headingLogo img{
    width: 100%;
    margin: auto;
}
/* h1{
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    line-height: 50%;
    text-align: center;
} */
header .nav-bar{
    border-top: #5a6b47 3px solid;
    /* border-bottom: #5a6b47 3px solid; */
    padding: 10px 0;
}
header .nav-bar .menuPrincipal{
    display: grid;
    grid-gap:10px;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-content: center;
}
header .nav-bar .menuPrincipal li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
header .nav-bar .menuPrincipal li a{
    text-decoration: none;
    color: #5a6b47;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
header .nav-bar .menuPrincipal li a:hover{
    color: black;
}

/*FOOTER*/
footer{
    margin-top: 10px;
    background-color: #3f3222;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
footer .space{
    width: 100%;
}

footer i{
    color:#ffffff;
    margin: 0 10px;
    
}
footer .menuFooter {
    padding: 20px 20px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
footer .menuFooter div {
    width: 25%;
}



footer .menuFooter h3{
    font-size: 14px;
    margin: 20px 0;
}
footer .menuFooter li{
    font-size: 12px;
    list-style: none;

}
footer .menuFooter a{
    color: #ffffff;
    text-decoration: none;
}
footer .redesSociales {
    color: #ffffff;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
 }
 footer .redesSociales h4{
    font-family: 'Lobster', cursive;
    font-size: 30px;
 }

 /*VERSION TABLET*/
@media (max-width: 1023px){
    footer .menuFooter div {
        width: 50%;
    }
  

}

/*VERSION MOBILE*/
@media (max-width: 767px){
    header{
        display: grid;
        grid-template-columns:1fr;
        justify-content: space-between;
        border-bottom: #5a6b47 3px solid;
    }
    header .headingLogo {
        width: 70%;
        margin-left: 10px;
    }
    header .mobile-nav-bar{
        display: block;
        width: 70%;
        border-top: #5a6b47 3px solid;
        padding: 10px 0;
    }
    header .mobile-nav-bar a{
        color: #5a6b47;
        font-size: 28px;
    }
    header .mobile-nav-bar i{
        color: #5a6b47;
        font-size: 28px;
    }
    header .nav-bar{
        display: none;
    }

    /*header .searchBar{  
        border-bottom: none;
    }
   
    header .headingContainer .searchBar input{
        display: none;
    } */
    footer{
        background-color: #3f3222;
        display: grid;
        grid-template-columns: 1fr 8fr;
    }

    footer .menuFooter div {
        width: 80%;
    }
   
}

