<!DOCTYPE html>
<html lang="en">
 
<%-include('../partials/head') %>
      

 <!-- INCLUDES HEAD-->

 
 <body>
    <!-- INCLUDES HEADER-->
  <%- include('../partials/header') %>
    <main >
        <section class="tituloCart">
            <h2>CARRITO DE COMPRAS</h2>

       </section>
        <section class="mainCart">
            
            
           
            <section class="listaCart">

                <div class="detalleCart">
                    <h3>ITEMS</h3>
                    <h3>PRECIO</h3>
                    <h3>DESCUENTO</h3>
                    <h3>TOTAL</h3>
                </div>


                <div class="itemResumenCart" id="itemscart">

                </div>

            </section>
       
        <section class="resumenCart">
            <h3>Resumen</h3>

            <div class="subtotalCart" id="totalcart">
        
            </div>
   
            <button><a href="#">PAGAR</a></button>
        </section>

        </section>
       
    </main>
 
          
    <%- include('../partials/footer') %>
    
    <script src="/js/showItemsCart.js"></script>

</body>

</html>