<!DOCTYPE html>
<html lang="en">
  
        <!-- INCLUDES HEAD-->
   <%- include('../partials/head') %>
   

   <body> 
    
   <!-- INCLUDES HEADER-->
   <%- include("../partials/header") %>

<main>
    <section class="login">
    <section class="imagen">
        <img src="img/users/login.png" alt="" class="desktop">
        <img src="img/users/loginMobile.png" alt="" class="mobile">
    </section>
    <section class="container">
        <div class="subtitulo">
            <h2>INICIAR SESION</h2>
        </div>
    
    <form action = "/" method="POST" class="formulario" > 
    <div>
        <label > Correo Eléctronico </label>
        <input  type="email" name="CorreoElectronico" class="form-control" placeholder="user@growgreen.com">
         <% if (locals.errors && errors.email) {  %>
          <div class="text-danger">
          <%= errors.email.msg %>    
        </div>  
          <% } %> 
    </div>
       
    <div>
        <label > Contraseña </label>
        <input  type="password" name="Contraseña" placeholder="*********">
    </div>
        <button class="boton">CONFIRMAR</button>
    <div class="otrasOpciones">
        <p>¿No tienes cuenta?</p>
        <a href= "/user/register" class="registrarse"  >    Registrarse  </a>

         <a href="#" class="contraseña2"> Olvide mi contraseña </a>
    </div>
  </form>   
</section>
</section>
</main> 


 <!-- INCLUDES FOOTER-->
 <%- include('../partials/footer') %>

</body>
</html>