<!DOCTYPE html>
<html lang="en">
    <!-- INCLUDES HEAD-->
<%- include('../partials/head') %>

<body> 

<!-- INCLUDES HEADER-->
<%- include("../partials/header") %>

<main>
    <section>
        <div class="perfil_menu">
            
        </div>
        <div>
            <div class="perfil_avatar">
                <img src="" alt="">
                <p><a href="">Cambiar imagen</a></p>

            </div>
            <div class="perfil_info">
                <h2 class="perfil_info_nombre"> </h2>
                <h3 class="perfil_info_email"></h3>
                <h3 class="perfile_info_contrasena"><a href="">Cambiar contraseña</a></h3>
            </div>
        </div>
    </section>

</main>

    
</body>

 <!-- INCLUDES FOOTER-->
 <%- include('../partials/footer') %>

</html>