<head>
    <!-- INCLUDES HEAD-->
<%- include('../partials/head') %>
   <link rel="stylesheet" href="../../public/css/?">
</head>
<body> 

<!-- INCLUDES HEADER-->
<%- include("../partials/header") %>

<main>

</main>

    
</body>

 <!-- INCLUDES FOOTER-->
 <%- include('../partials/footer') %>

</html>