<!DOCTYPE html>
<html lang="en">
<!-- INCLUDES HEAD-->
<%- include('partials/head') %>

<!-- INCLUDES HEADER-->
<%- include('partials/header') %>
<body>
    <main>
       
            
    </main> 
<!-- INCLUDES FOOTER-->
<%- include('partials/footer') %>  
</body> 
</html>
