<!DOCTYPE html>
<html lang="en"> 
 <%-include('../partials/head') %>  
 <!-- INCLUDES HEAD-->
 <body>
    <!-- INCLUDES HEADER-->
  <%- include('../partials/header') %>
  <main>

<section class="mainCreateProducts">

<section class="registroProducto">
<div class="subtitulo">
  <h2>Registrar nuevo producto</h2>
</div>


<form action="create" method="POST" enctype="multipart/form-data"  id="addProductForm2">

<div class="group">

 <div class="formProducts">
   <label for="name" class="form-label">Nombre del producto</label>
   <input type="text" id="name" name="name" placeholder="Papelillos" class="form-input">
 </div>

 <div class="formProducts">
  <label for="brand" class="form-label">Marca del producto</label>
  <input type="text" id="brand" name="brand" placeholder="el Mejor" class="form-input">
</div>

</div>

<div class="group">

  <div class="formProducts">
    <label for="price" class="form-label"> Precio del producto </label>
    <input type="number" id="price" name="productprice" placeholder="$220" class="form-input"> <!--Porque aca tiene procutprice y en los demas oslo discount etc.-->
  </div>

 <div class="formProducts">
   <label for="discount" class="form-label">Descuento</label>
   <input type="number" id="discount" name="discount" placeholder="10%" class="form-input">
 </div>

 

</div>

<div class="group">
  <div class="formProducts">
    <label for="expiration_date" class="form-label">Fecha de vencimiento</label>
    <input type="date" id="expiration_date" name="expiration_date" placeholder="24 Feb 2023" class="form-input">
  </div>
  <div class="formProducts">
    <label for="creation_date" class="form-label">Fecha de creación</label>
    <input type="date" id="creation_date" name="creation_date" placeholder="24 Feb 2023" class="form-input">
  </div>

</div>

<div class="group">

 <div class="formProducts">
   <label for="imageProduct" class="form-label">Seleccionar Imagen:</label>
   <input type="file" id="imagefile" name="imageProd" placeholder="product image">
 </div>

 <div class="formProducts">
  <label for="category" class="form-label">Categoría</label>
  <select id="category" name="category" class="form-input">
    <option value="1">carpas</option>
    <option value="2">fertilizantes</option>
    <option value="3">frascos</option>
    <option value="4">hidroponia</option>
    <option value="5">luces</option>
    <option value="6">parafrenalia</option>
    <option value="7">picadores</option>
    <option value="8">sustratos</option>
  </select>
</div>

 

</div>
<div class="groupDetail">
  <div class="formProducts">
    <label for="detail" class="form-label" >  Detalle de producto </label>
    <textarea name="detail" id="detail" class="form-input"></textarea>
  </div>
</div>
<div class="button">
   <button type="submit" class="action-button create">Guardar Producto</button>
</div>

</form>

</section>
</section>

</main>


 <!-- INCLUDES FOOTER-->
 <%- include('../partials/footer') %> 
 
 <script src="../js/validations/addProduct.js"></script>
 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 </body> 
</html>