<!DOCTYPE html>
<html lang="en">
<head>
     <!-- INCLUDES HEAD-->
<%- include('./partials/head') %>
</head>
<body>
    <!-- INCLUDES HEADER-->
<%- include('./partials/header') %>

<main>
  <section class="products">
  <!--For each --> 
    <article class="product-item" name="id">
        <img src="" name="image" alt="image-product">
          <div class="product-price">
              <p class="priceProduct" name="price"></p>
              <p class="discount" name="discount"></p>
          </div>

        <h3 class="name" name="name">Cafetera Moulinex</h3>
    </article>
  <!--For each -->
  </section>
</main>

  <!-- INCLUDES FOOTER-->
<%- include('./partials/footer') %>
</body>
</html>